/*  Header Style Fonts  ---------------------------------------------------------------  */
@font-face { /* Pterra-dactyl */
  font-family: Pterra;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/f19242d8de8188665600532849ec1623ca4b3cd5/Pterra-dactyl.woff);
}

@font-face { /* Personal Custom Font */
  font-family: 3eCustomFont;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/77b2a59aea615e7849ec6a16559a5390c8054242/3efont-Regular.woff);
}


/*  -----------------------------------------------------------------------------------  */
/*  Text Style Fonts  -----------------------------------------------------------------  */
@font-face { /* Celestia Antiqua Standard*/
  font-family: CelestiaAntiqua;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/1f5f27979a3650a33aead2b51c36d35469a1bf5a/CelestiaAntiquaStd.woff);
}

@font-face { /* Celestia Antiqua Italic*/
  font-family: CelestiaAntiqua;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/1f5f27979a3650a33aead2b51c36d35469a1bf5a/CelestiaAntiquaStd-Italic.woff);
	font-style: italic;
}

@font-face { /* Celestia Antiqua Bold ----  muito forte, substituir pela Semi-Bold*/
  font-family: CelestiaAntiqua;
  src: url(htt ps://rawcdn.githack.com/marceloabner/3.5e-Files/1f5f27979a3650a33aead2b51c36d35469a1bf5a/CelestiaAntiquaStd-Bold.woff);
	font-weight: bold;
}

@font-face { /* Celestia Antiqua Semi-Bold*/
  font-family: CelestiaAntiqua;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/0851df519628727ce8262ca7dcde0755c568f4c3/CelestiaAntiqua-Semibold.woff);
	font-weight: bold;
}

/*  -----------------------------------------------------------------------------------  */
/*  Table Style Fonts  ----------------------------------------------------------------  */
@font-face { /* Scala Sans Regular*/
  font-family: ScalaSans;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/97d3ba3888f5096b95f84971d2d341b5a8208cff/Scala-Sans-LF.woff);
}

@font-face { /* Scala Sans Italic*/
  font-family: ScalaSans;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/97d3ba3888f5096b95f84971d2d341b5a8208cff/Scala-Sans-LF-Italic.woff);
	font-style: italic;
}

@font-face { /* Scala Sans Bold*/
  font-family: ScalaSans;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/97d3ba3888f5096b95f84971d2d341b5a8208cff/Scala-Sans-LF-Bold.woff);
	font-weight: bold;
}

@font-face { /* Scala Sans Bold Italic*/
  font-family: ScalaSans;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/97d3ba3888f5096b95f84971d2d341b5a8208cff/Scala-Sans-LF-Bold-Italic.woff);
	font-weight: bold;
	font-style: italic;
}

/*  -----------------------------------------------------------------------------------  */
/*  Cover Style Fonts  ----------------------------------------------------------------  */
@font-face { /* Vitriol : Internal Titles */
  font-family: Vitriol;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/1d13a5b1528df3ceb2137d5cbdfb92caed3c5ebc/Vitriol%20Regular.woff);
}

/*  -----------------------------------------------------------------------------------  */
/*  Planescape Fonts  -----------------------------------------------------------------  */
@font-face { /* Exocet Heavy : Planescape Titles */
  font-family: Exocet;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/7067449fb4f7897bb2ecdf5ebad65d7424a4b924/ExocetHeavy.woff);
}

@font-face { /* Rotis Serif */
  font-family: RotisSerif;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/7067449fb4f7897bb2ecdf5ebad65d7424a4b924/RotisSerif.woff);
}

@font-face { /* Rotis Serif - Bold */
  font-family: RotisSerif;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/7067449fb4f7897bb2ecdf5ebad65d7424a4b924/RotisSerif-Bold.woff);
  font-weight: bold;
}

@font-face { /* Rotis Serif - Italic */
  font-family: RotisSerif;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/7067449fb4f7897bb2ecdf5ebad65d7424a4b924/RotisSerif-Italic.woff);
  font-style: italic;
}

/*  -----------------------------------------------------------------------------------  */
/*  Forgotten Realms  -----------------------------------------------------------------  */
@font-face { /* Democratica : Forgotten Realms Title */
  font-family: Democratica;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/d45329047f19f002a78a1f9107e29912afe5cff7/Democratica.woff);
}

@font-face { /* FR Fell Type : Forgotten Realms Text */
  font-family: FellType;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/fece224d0bdf5873068a8c3c9308322449a640d2/IM_FELL_DW_Pica_Roman.woff);
}

@font-face { /* FR Fell Type : Forgotten Realms Text */
  font-family: FellType;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/fece224d0bdf5873068a8c3c9308322449a640d2/IM_FELL_Double_Pica_Italic.woff);
  font-style: italic;
}

@font-face { /* FR Fell Type : Forgotten Realms Text */
  font-family: FellType;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/b1106bbfcd0e39b234f75c1cc3b4c433d42d0694/LetterpressText%20W00%20Bold.woff);
  font-weight: bold;
}

@font-face { /* FR Fell Type : Forgotten Realms Text */
  font-family: FellType;
  src: url(https://rawcdn.githack.com/marceloabner/3.5e-Files/fece224d0bdf5873068a8c3c9308322449a640d2/IM_FELL_DW_Pica_Italic.woff);
  font-style: italic;
  font-weight: bold;
}
